# Node modules
node_modules/

# Build output
build/
dist/

# Logs
*.log

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories
jspm_packages/

# Mac system files
.DS_Store

# Linux system files
*~

# Windows system files
Thumbs.db
ehthumbs.db

# IDE or editor-specific files
.vscode/
.idea/
*.suo
*.ntvs_analysis.dat
*.njsproj
*.sln
*.sw?

# Coverage directory used by tools like istanbul
coverage/

# Miscellaneous
*.tgz
*.gz
*.zip
*.tar
*.rar

# Other files to ignore
*.bak
*.tmp
